/* General styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Зробила зображення блочними елементами */
img {
    display: block;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

/* Header container */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    height: 72px;
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;

}

.navigation {
    align-items: center;
    display: flex;
}


.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 115px;
    padding: 16px;
}

.logo-part {
    color: #2e2f42;
}

.nav-list {
    display: none;
    /* display: flex;
    gap: 40px; */
}

.address {
    font-style: normal;
    margin-left: auto;
    display: none;
}

.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}



/* Business solutions */
.business {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-320.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 1440px;
    margin: 0 auto; 
}

@media screen and (min-resolution: 192dpi) {
    .business {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-320-2x.jpg);
        }
    }

.business-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.main-button {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    cursor: pointer;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

/* Advantages-section */
.advantages {
    padding: 96px 0;
}


.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    display: block;
}


.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.icon-box {
    display: none; 
}

.advantages-list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.advantages-list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Our team section */
.team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: #fff;
    width: calc ( (100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description-img {
    padding: 32px 0;
}

.team-list-titel {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.icon-team-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.icons-cards {
    width: 40px;
    height: 40px;
}

.link-team-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: #f4f4fd;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-team-icons:hover,
.link-team-icons:focus {
    background-color: #404bbf;
}

.icon {
    fill: #f4f4fd;
}

/* Portfolio */
.portfolio {
    background: #fff;
    padding: 120px 0;
}

.portfolio-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-list-item {
    background-color: #fff;
    width: calc ( (100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .text-app {
    transform: translateY(0%);
}

.app-picture {
    position: relative;
    overflow: hidden;
}

.text-app {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-img:hover .text-app {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-picture {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-titel {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer section */
.section-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.container-section-footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.footer-container {
    margin-right: 120px;
}

.main-img {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.img-item {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.main-img-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    font-weight: 400;
    max-width: 264px;
}
.footer-social-media {
    margin-right: auto;
}

.footer-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: left;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-link {
    width: 40px;
    height: 40px;
}

.footer-link-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon:hover,
.footer-link-icon:focus {
    background-color: #31d0aa;
}

.svg-footer {
    fill: #f4f4fd;
    display: flex;
}

.footer-subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: white;
}

.footer-subscribe-form {
    display: flex;
    gap: 24px;
}

.footer-form-email {
    width: 264px;
    height: 40px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
}

.footer-form-email::placeholder {
    color: white;
}

.footer-form-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;

}

.footer-form-btn-svg {
    margin-left: 16px;
}

/* Modal window */
.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    visibility: hidden;
    position: none; 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

                            /* button */
.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}

.button-icon-modal-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover > .button-icon-modal-close,
.modal-close:focus > .button-icon-modal-close {
    fill: #ffffff;
}

.modal-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
                                    /* form */
.form-container {
    margin-bottom: 8px;
}
                                    /* text name */
.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.17
}

.form-label-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4)
}

.modal-input:focus {
    border: 1px solid #4d5ae5;
    border-color: #4d5ae5;
}

.modal-icone {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}

.modal-input:focus + .modal-icone {
    fill: #4d5ae5;
}

.form-container-coment {
    margin-bottom: 16px;
}
.modal-text {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-text:focus {
    border-color: #4D5AE5;
}

/* checkbox */
.box-container {
    border-radius: 4px;
    width: 360px;
    height: 16px;
    margin-bottom: 24px;
}

.box-container-input:checked+.box-container-label .box-container-label-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}


.box-container-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
} 

.box-container-label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.box-container-text {
    color: #4d5ae5;
} 

.modal-btn {
    display: block;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
}



/* ---------------min-width: 768px-------------- */ 

@media screen and (min-width: 768px) {

/* Business solutions */
.container {
    max-width: 768px;
}

.address {
    display: flex;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.open-menu-btn {
    display: none;
}

.logo {
    margin-right: 120px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.business {
    padding: 112px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-768.jpg);
}

@media screen and (min-resolution: 192dpi) {
    .business {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-768-2x.jpg);
    }
}

.main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
}

/* Advantages-section */
.advantages-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
}

.advantages-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #FFFFFF;
    display: flex;
    flex-grow: calc((100% - 24px) / 2);
    max-width: 264px;
    flex-wrap: wrap;
}

.advantages-list-title {
text-align: start;
}

}




/* ---------------min-width: 1158px-------------- */

@media screen and (min-width: 1158px) {

/* Business solutions */
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    margin-right: 76px;
}

.address-list {
    flex-direction: row;
    gap: 40px;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
}

.business {
    padding: 188px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
}

@media screen and (min-resolution: 192dpi) {
    .business {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1158-2x.jpg);
    }
}

.main-title {
    color: #fff;
    font-size: 56px;
    margin-bottom: 48px;
}

/* Advantages-section */
.advantages {
    padding: 120px 0;
}

.advantages-list {
    flex-direction: row;
    gap: 24px;
}

.advantages-item {
    flex-grow: calc((100% - 72px) / 4);
}

.icon-box {
    display: flex;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99
}

.advantages-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-list-text {
    font-weight: 400;
}

}

